
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MoveSans-Light';
  src: url('./assets/fonts/Freesentation-5Medium.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('./assets/fonts/Pretendard-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24SsurroundAir';
  font-weight: normal;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24SsurroundAir/Cafe24SsurroundAir.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24SsurroundAir/Cafe24SsurroundAir.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24SsurroundAir/Cafe24SsurroundAir.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24SsurroundAir/Cafe24SsurroundAir.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24SsurroundAir/Cafe24SsurroundAir.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'LotteriaDdag';
  font-weight: normal;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaDdag/LotteriaDdag.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaDdag/LotteriaDdag.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaDdag/LotteriaDdag.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaDdag/LotteriaDdag.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaDdag/LotteriaDdag.ttf') format("truetype");
  font-display: swap;
}


.font-move-sans {
  @apply font-sans;
  font-family: 'MoveSans-Light';
}

.font-pretendard {
  @apply font-sans;
  font-family: 'Pretendard-Regular';
}

.font-surround-air {
  @apply font-sans;
  font-family: 'Cafe24SsurroundAir';
}


.font-lotteria {
  @apply font-sans;
  font-family: 'LotteriaDdag';
}